/* LEMR Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

:root {
  --font: "Lato", Sans-Serif;
  --base-size: 14px;
  --bigger-size: 1.15em;
  --middle-size: 1.5em;
  --biggest-size: 1.75em;
  --smaller-size: 0.9em;
  --regular-weight: 400;
  --bold-weight: 700;
  --main-color: #08569A;
  --accent-color: #FFC20A;
  --accent-color-rgba: rgba(255, 194, 10, 1);
  --accent-color-lighter-rgba: rgba(255, 194, 10, 0.50);
  --grey-color: #B8B8B8;
  --light-grey-color: #E0E0E0;
  --dark-grey-color: #4E4E4E;
  --home-section-padding: 2em;
}

/* ------  Header and font styles ------ */

body {
  font-family: var(--font);
  font-size: var(--base-size);
  font-weight: var(--regular-weight);
}

a {
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  padding-top: 0.75em;
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: var(--biggest-size);
  font-weight: var(--bold-weight);
}

h2 {
  font-size: var(--bigger-size);
  font-weight: var(--bold-weight);
}

h3 {
  font-size: var(--bigger-size);
  font-weight: var(--bold-weight);
  color: #6c6c6c;
}

.padded {
  margin-bottom: 0.5em;
}

.very-padded {
  margin-bottom: 1.25em;
}

.normal {
  font-size: 1em;
}

.bigger {
  font-size: var(--bigger-size);
}

.biggest {
  font-size: var(--biggest-size);
}

.smaller {
  font-size: var(--smaller-size);
}

.nav-tabs {
  border-bottom: 0;
}

.autocomplete-items div:hover {
  background-color: var(--accent-color);
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border-bottom-width: 4px;
  border-bottom-color: var(--main-color);
  background: white;
}

.navbar-header {
  height: 100px;
}

.navbar-brand {
  height: 100%;
}

.navbar-img {
  height: 100%;
}

.navbar-default .navbar-nav > a:hover {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: var(--accent-color);
}

.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: var(--bigger-size);
  font-weight: var(--bold-weight);
  font-family: Kanit;
}

/* Collapsed navbar in small layout */
/* Say "MENU" instead of hamburger menu icon, which a lot of people don't understand */

/* Hide hamburgies */
.icon-bar {
  display: none !important;
}

/* Text instead */
.navbar-toggle:before {
  content: "Menu";
  font-family: Kanit;
}

/* Match size to logo */
.navbar-toggle {
  color: black;
  font-size: var(--bigger-size);
  font-weight: var(--bold-weight);
  border-radius: 0;
  height: 45px;
  margin: 15px 15px;
}

/* Layout */

hr {
  margin-top: 10px;
}

.map-col {
  width: 65%;
  float: left;
}

.sidebar-col {
  width: 35%;
  float: left;
}

.vertical-align {
  display: flex;
  align-items: center;
}

body > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.full-summary-modal .modal-lg {
  width: 95%;
}

.shiny-modal {
  overflow-y: hidden;
}

.modal-content {
  height: 95vh;
  overflow-y: scroll;
}

.modal-col {
  width: 30%;
  float: left;
}

.modal-col.middle {
  margin-left: 5%
}

.modal-col.right {
  margin-left: 5%
}

.content-page {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--bigger-size);
  margin-top: 1em;
}

/* Dropdown */

.bootstrap-select .dropdown-menu {
  max-width: 100%;
  overflow-wrap: hyphenate-word;
  hyphens: overflow;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
  background-color: transparent !important;
  border-color: var(--grey-color)
}

/* Home page */

.home {
  text-align: justify;
  text-justify: inter-word;
  font-size: var(--base-size);
}

.home h2 {
  font-size: var(--middle-size);
}

.welcome-banner {
  background-color: var(--main-color);
  min-height: calc(var(--home-section-padding) * 10);
  color: white;
  padding: calc(var(--home-section-padding) * 2);
  padding-top: calc(var(--home-section-padding) * 4);
  margin-top: -1em;
}

.welcome-banner-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-banner h1 {
  font-weight: var(--regular-weight);
  font-size: 2em;
}

.intro-sentence {
  text-align: center;
  padding: var(--home-section-padding);
}

.intro-paragraph {
  padding-bottom: var(--home-section-padding);
}

.intro-paragraph h2 {
  font-weight: var(--regular-weight);
  color: var(--main-color);
}

.data-stories-banner {
  background-color: var(--light-grey-color);
  min-height: calc(var(--home-section-padding) * 10);
  padding-left: calc(var(--home-section-padding) * 2);
  padding-right: calc(var(--home-section-padding) * 2);
  padding-top: var(--home-section-padding);
  padding-bottom: var(--home-section-padding);
}

.data-stories-banner h2 {
  color: var(--dark-grey-color);
}

.data-stories-banner h3 {
  color: black;
  padding: 0.5em;
  text-align: center;
}

.divider-line {
  height: 1px;
  background-color: var(--accent-color);
  margin-top: calc(var(--home-section-padding) * 2);
  margin-bottom: calc(var(--home-section-padding) * 2);
}

#data-and-definitions-page .divider-line, #shiny-modal .divider-line {
  margin-top: var(--home-section-padding);
  margin-bottom: var(--home-section-padding);
}

.start-exploring {
  text-align: left !important;
}

.questions {
  padding-top: var(--home-section-padding);
}

.about{
  padding-bottom: var(--home-section-padding);
}

/* Download modal box */

.modal-content {
  border-radius: 0;
}

/* Inputs */

.pretty {
  font-size: var(--bigger-size);
  margin-right: 0;
}

.summary-legend {
  padding-left: calc(var(--bigger-size) + 7px + 15px);
}

.label-primary {
  background-color: var(--main-color);
}

.form-group {
  margin-bottom: 5px;
}

.form-control, .btn, .dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default:hover {
  border-color: var(--accent-color);
  background-color: inherit;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: var(--main-color);
}

.well .shiny-input-container {
  margin-right: 0 !important;
}

/* ------ Legend ------ */

ul {
  margin-bottom: 0;
}

.color-preview {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.33em;
  vertical-align: middle;
}

.color-preview-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.33em;
  vertical-align: middle;
  border-radius: 50%;
  border: solid 1px var(--grey-color);
}

/* Layers legend */

.points-layer-year {
  font-size: var(--smaller-size);
  color: var(--dark-grey-color);
}

.layer-popup {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: 0;
  height: 35.6px;
}

.popover {
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
}

.popover-title {
  font-weight: var(--bold-weight);
  font-size: inherit;
}

.checkboxGroupButtons {
  overflow: hidden;
}

.checkboxGroupButtons .btn {
  border: 2px solid var(--grey-color);
  border-radius: 0;
}

.checkboxGroupButtons .btn.active {
  border-color: var(--main-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.checkboxGroupButtons .btn.active:hover {
  border-color: var(--main-color);
}

.checkboxGroupButtons .btn:hover {
  border-color: var(--accent-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.legend {
  width: 100%;
  margin: auto;
}

.legend ul {
  list-style: none;
  padding: 0;
}

.legend li.min {
  float: left
}

.legend li.max {
  float: right
}

/* TODO, need to fix CSS to work on all browsers */
.legend li.legend-colors {
  clear: both;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 10px;
  border-radius: 0;
  background-clip: padding;
  border: 1px solid var(--grey-color);
}

.legend li.legend-colors .colors {
  display: table-row;
}

.legend li.legend-colors .legend-element {
  display: table-cell;
}

.legend .triple-text ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ------ Map sizes ------ */

.mapboxer, .map-sidebar {
  height: calc(100vh - 120px) !important;
}

.map-sidebar {
  overflow-y: auto;
}

/* ------ Tabs ------ */

.nav-tabs {
  border-bottom: 1px solid black;
}

.nav-tabs > li > a {
  margin-right: 0.75em;
  border: 1px solid black !important;
  border-radius: 0;
  background-color: var(--accent-color-lighter-rgba) !important;
  color: black !important;
}

.nav-tabs > li.active > a {
  background-color: var(--accent-color-rgba) !important;
}

.nav-tabs > li.active > a:hover {
  text-shadow: 0;
}

.nav-tabs > li > a:hover {
  background-color: var(--accent-color-rgba) !important;
}

/* ------ Well panel ------ */

.well {
  background-color: white;
  border: 0;
  margin-bottom: 0;
}

/* Lightweight tables */
.lightable-minimal {
    margin-left: 0 !important;
    width: 100% !important;
}

/* Data stories */
.agi-data-story-neighbourhood {
  padding-bottom: 2em;
  display: flex;
  align-items: center;
}

/* Makes sure "download reports" button dropdown is spaced properly */
.full-summary-buttons .dropdown-menu {
  top: auto;
}

.full-summary-buttons {
  float: right;
}

.download-section h2 {
  display: inline;
}

/* Media queries - smaller screen sizes */

/* Anything smaller than a big ol computer */
@media (max-width: 1199px) {

  :root {
    --base-size: 16px;
    --home-section-padding: 0.5em;
  }

  .fa-5x {
    font-size: 3em;
  }

  h1 {
    font-size: var(--bigger-size);
  }

  .pretty {
    font-size: var(--base-size);
  }

  .navbar-header {
    height: 75px;
  }

  .map-col {
    width: 50%;
  }

  .sidebar-col {
    width: 50%;
  }

  /* Flow modal into a single column */
  .modal-col {
    width: 100%;
    margin-left: 0 !important;
  }

  .content-page {
    margin: 2em !important;
  }

  .welcome-banner {
  padding-top: var(--home-section-padding);
    min-height: 0;
    margin: 2em !important;
  }

  .welcome-banner h1 {
    font-size: var(--bigger-size);
  }

  .intro-sentence {
    font-size: var(--bigger-size) !important;
    padding: 0;
  }

  .data-stories-banner {
    min-height: 0px;
  }

  .start-exploring .col-sm-4 {
    margin-bottom: calc(var(--home-section-padding) * 0.5);
  }

  .questions {
    font-size: var(--bigger-size) !important;
    padding-top: 0;
  }

  #data-and-definitions-page {
    font-size: var(--base-size) !important;
  }

  #data-and-definitions-page .bigger {
    font-size: var(--base-size);
  }

  .agi-data-story-neighbourhood {
    display: block;
  }

  .agi-data-story-neighbourhood .col-sm-5, .agi-data-story-neighbourhood .col-sm-7
    width: 100% !important;
    margin-right: 0 !important;
  }

/* Extra small devices (portrait phones, up to 575px) */
@media (max-width: 575px) {

  #shiny-modal {
    padding-right: 0 !important;
  }

  .content-page {
    margin: 1.5em !important;
  }

  /* Stack map and sidebar */
  .map-col {
    width: 100% !important;
  }

  .sidebar-col {
    width: 100% !important;
  }

  /* Shorter map */
  .mapboxer {
    height: calc(50vh) !important;
  }

  /* Overflow sidebar div to avoid double scrolly */
  .map-sidebar {
    overflow-y: visible;
    border-width: 0;
  }

  /* Flow modal into a single column */
  .modal-col {
    width: 100%;
    margin-right: 0 !important;
  }
}

/* When bootstrap collapsed navbar is not triggered, style the navbar all nice */
/* Only then, otherwise it looks bad in the hamburger menu! */
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }

}

@media print {

  :root {
    --base-size: 11px;
    --bigger-size: 1.1em;
  }

  .visible-minority table {
    margin-bottom: 0 !important;
  }

  body {
    -webkit-print-color-adjust: exact;
  }

  h1 {
    font-size: 3em;
    text-align: center;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,   .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
   }
   .col-sm-3 {
     width: 25%;
   }
   .col-sm-2 {
     width: 16.666666666666664%;
   }
   .col-sm-1 {
    width: 8.333333333333332%;
   }

  }
