/* LEMR Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --font: "Open Sans", Sans-Serif;
  --base-size: 16px;
  --bigger-size: 1.25em;
  --biggest-size: 1.5em;
  --regular-weight: 400;
  --bold-weight: 700;
  --main-color: #08569A;
  --accent-color: #FFC20A;
  --grey-color: #B8B8B8;
}

/* ------  Header and font styles ------ */

body {
  font-family: var(--font);
  font-size: var(--base-size);
  font-weight: var(--regular-weight);
}

a {
  font-color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.25em;
  font-weight: var(--bold-weight);
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

.padded {
  margin-bottom: 0.5em;
}

.normal {
  font-size: 1em;
}

.bigger {
  font-size: var(--bigger-size);
}

.biggest {
  font-size: var(--biggest-size);
}

.nav-tabs {
  border-bottom: 0;
}

.autocomplete-items div:hover {
  background-color: var(--accent-color);
}

/* ------ Legend ------ */

.color-preview {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.33em;
  vertical-align: middle;
}

/* ------ Map sizes ------ */

#map-map {
  height: calc(100vh - 100px) !important;
}

/* ------ Tabs ------ */


/* ------ Well panel ------ */

.well {
  background-color: white;
  border-radius: 0;
}
